In [78]:
from PIL import Image
import pandas as pd

In [79]:
im = Image.open("geomap.png")

In [80]:
from __future__ import print_function
print(im.format, im.size, im.mode)

x_size = im.size[0]
y_size = im.size[1]

PNG (1000, 1000) RGBA

In [81]:
im_data = list(im.getdata())

In [82]:
xy_tuples = []
for y in reversed(range(y_size)):
    for x in range(x_size):
        xy_tuples.append([x,y])
        
for index,pixel in enumerate(xy_tuples):
    pixel.append(im_data[index][0])

In [83]:
df = pd.DataFrame(xy_tuples, columns=['x','y','code'])

In [84]:
random_sampling = df.sample(frac=0.0005, replace=True)

In [85]:
regular_sampling = pd.DataFrame(columns=['x','y','code'])

In [86]:
x_int = 50
y_int = 50

row_list = []

for x in range(0, x_size, x_int):
    for y in range(0, y_size, y_int):
        row = df.loc[(df['x'] == x) & (df['y'] == y)]

        regular_sampling = regular_sampling.append(row, ignore_index=True)

In [87]:
random_sampling.head()

          x    y  code
694139  139  305   200
949626  626   50   100
20330   330  979     0
66472   472  933   200
44958   958  955   100

In [88]:
regular_sampling.head()

   x    y code
0  0    0    0
1  0   50    0
2  0  100    0
3  0  150    0
4  0  200    0

In [92]:
full = pd.concat([random_sampling, regular_sampling])

In [108]:
f1 = full['code'] == 0
f2 = full['code'] == 100
f3 = full['code'] == 200
f = f1 | f2 | f3

In [110]:
full.to_csv('dataset.csv', index=False)